<%= form_with(model: rel_bixe_sport, local: true) do |form| %>
  <% if rel_bixe_sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rel_bixe_sport.errors.count, "error") %> prohibited this rel_bixe_sport from being saved:</h2>

      <ul>
      <% rel_bixe_sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
