<h1>Editing Rel Newcomer Sport</h1>

<%= render 'form', sport_interests_newcomer: @sport_interests_newcomer %>

<%= link_to 'Show', @sport_interests_newcomer %> |
<%= link_to 'Voltar', sport_interests_newcomer_path %>
