<h1>Painel de Controle do Admin</h1>

<%= link_to 'Criar nova Prova!', new_task_path %><br>
<%= link_to 'Criar novo Time!', new_team_path %>
<%= link_to 'Listar times!', teams_path %>

<br>
<br>
<%= link_to 'Voltar para homepage', '/' %>