<h1>Gincana dos Bixos do Ime</p>

    <%= link_to 'Criar novo Usuário!', new_user_path %><br>
    <%= link_to 'Criar novo Bixe!', new_bix_path %><br>
    <%= link_to 'Criar nova Prova!', new_task_path %>