<h1>Gincana dos Bixos do Ime</h1>

    <p>Bem vinde!</p>

    <%= link_to 'Cadastro de bixe', new_bix_path %><br>

    <br>
    <br>
<%= link_to 'Painel de controle do Admin (só clicar se você for admin)', '/admin' %><br>
